.teacher-lessons {
  padding: 0 12px;
}

.teacher-lesson-count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.teacher-index-li {
  display: grid;
}

.teacher-details {
  display: flex;
  border-right: 1px solid #e9e9e9;
}

.teacher-details > h3 {
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 256px;
  white-space: nowrap;
}

.teacher-description {
  display: grid;
}

.teacher-li-buttons {
  display: flex;
}