.teacher-filter {
  background: white;
  border-bottom: 1px solid #e9e9eb;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.teacher-list-container {
  margin: 60px auto;
  width: 950px;
}

.teacher-list-container > h1 {
  margin-bottom: 30px;
  height: 30px;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
}