.feedback-modal {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
  overflow: auto;
  // overflow-y: auto;
}

.feedback-modal-header {
  display: flex;
  justify-content: space-between;
}

.feedback-modal-ul {
  padding: 24px;
}