.feedback-container {
  width: 326px;
}

.feedback-container-modal {
  min-width: 768px;
  width: 100%;
}

.comment-body {
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  display: flex;
  white-space: pre-wrap;
}