.feedback-container {
  width: 326px;
}

.feedback-container-modal {
  width: 95%;
  margin-bottom: 15px;
}

.comment-body {
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  display: flex;
  white-space: pre-wrap;
}