.user-dashboard {
  display: flex;
  width: 960px;
  justify-content: center;
  position: relative;
  flex: 1 1;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: flex-start;
  height: 100vh;
  min-height: 100vh;
}

.acct-info {
  max-width: 37.5%;
  padding: 0 12px;
}

.user {
  padding: 16px 24px;
}

.user-id {
  font-size: 12px;
  line-height: 18px;
  color: #8c8c8c;
  background: #f2f2f6;
  padding: 4px 8px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.profile-link {
  text-decoration: none;
  color: black;
}

.social-media-info {
  display: flex;
}

.dashboard-wallet-balance {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
}

.refer-a-friend {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-test {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-ispeakee {
  padding: 16px 24px;
  display: flex;
}

.left-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  margin-bottom: 4px;
}

.left-content {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 18px;
}

.lang-skills {
  display: block;
}

.skill-lesson-box {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}

.skill {
  display: block;
  min-width: 66.6666666666%;
}

.learning-language {
  letter-spacing: .75px;
  margin-bottom: 4px;
  text-transform: uppercase;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.3333;
  color: #8c8c8c;
}

.completed-lessons {
  min-width: 33.333333333%;
  flex: 1 1;
  letter-spacing: .75px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.3333;
  color: #8c8c8c;
}

.completed-lessons-link {
  text-decoration: none;
  color: black;
}

.languages-learning {
  display: flex;
  padding: 12px 24px;
}

.languages-link {
  display: flex;
  text-decoration: none;
  color: black;
}

.my-teachers {
  display: grid;
  padding: 12px 24px;
}

.my-teachers-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
}

.three-random-teachers {
  display: grid;
}

.completed-number {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  text-align: right;
}

.completed-text {
  letter-spacing: .75px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.3333;
  color: #8c8c8c;
}