.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 100;
  border-radius: 4px;
  background-color: #00000060;
}

.modal-button {
  background: white;
  cursor: pointer;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  font-size: 15px;
  border: 2px solid white;
}