.inner-header {
  padding: 14px 40px;
  border-bottom: 1px solid #E9E9EB;
  background: white;
  margin-bottom: 25px;
}

.navbar-links {
  width: 25%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: -10px;
}

.navbar-logged-out {
  display: flex;
  justify-content: space-between;
  width: 100px;
}