.profile-container {
  display: block;
  background-color: #fafafc;
}

.own-profile {
  display: flex;
  width: 1140px;
  justify-content: center;
  position: relative;
  flex: 1 1;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: flex-start;
  height: 100vh;
  min-height: 100vh;
}

.basic-info {
  width: 367px;
  padding: 30px;
  margin-right: 20px;
  background-color: #fff;
}

.profile-teachers {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.language-info {
  background-color: #fff;
  padding: 0 15px;
}

.language-info > h2 {
  font-weight: 300;
  line-height: 36px;
  font-size: 23px;
  text-align: center;
}

.lang-skills {
  display: flex;
}

.studied-languages {
  display: flex;
}

.lang-skills-ul {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  flex-wrap: wrap 
}

.posts > h2 {
  font-weight: 300;
  line-height: 36px;
  font-size: 23px;
  text-align: center;
}

.posts-ul {
  justify-content: center;
  padding: 12px 24px;
}

.language-level-indicator-box {
  display: inline-block;
}

.language-level-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.language-level-reference {
  height: 100%;
  cursor: pointer;
}

.level {
  display: inline-block;
  width: 2px;
  height: 10px;
  margin-left: 2px;
  border-radius: 1px;
}

.grey-level-color {
  background-color: hsla(0,0%,80%,.5);
}

.light-red-level-color {
  background-color: rgba(255,67,56,.5);
}

.red-level-color {
  background-color: #ff4338;
}

.beginner-description {
  transform: translate3d(-89px, 27px, 0px);
  width: auto;
  min-width: auto;
  white-space: nowrap;
  z-index: 9998;
  position: absolute;
  border-radius: 4px;
  background-color: rgba(51, 51, 51, .9);
  padding: 13px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: white;
}