.profile-container {
  display: block;
}

.own-profile {
  display: flex;
  width: 1140px;
  justify-content: center;
  position: relative;
  flex: 1 1;
  flex-direction: row;
}

.lang-skills {
  display: flex;
}
