.hidden {
  display: none;
}

.info-box {
  background-color: white;
  margin-bottom: 12px;
  padding: 16px 24px;
}

.box-shadow {
  box-shadow: 0 2px 12px #c4c2c2;
}

h2 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
}

#redbar {
  margin: 16px 0;
  width: 15px;
  border-bottom: 2px solid #ff4338;
  border-radius: 1px;
}