.lesson-show-container {
  justify-content: center;
}

.lesson-show-details {
  width: 70%;
}

.lesson-status {
  padding: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lesson-status > div> div > span {
  color: white;
}

.lesson-show-first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lesson-date {
  align-items: flex-start;
}

.lesson-show-id-tag {
  align-items: flex-end; 
  background: white;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
}

.lesson-details {
  display: flex;
}

.lesson-details > div {
  margin-right: 50px;
}

.lesson-show-time > span {
  color: white;
  font-size: 50px;
}

.teacher-container {
  padding: 30px 30px 0;
}

.teacher-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.teacher-label {
  font-size: 10px;
  color: #777;
}

.course-detail {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.25;
  color: #777;
}

.lesson-body-padding {
  width: auto!important;
  box-shadow: none!important;
  padding: 30px 40px 0;
}

// .lesson-communication {}

.lesson-other-details {
  width: 30%;
  margin-left: 20px;
}

.lesson-other-top-color-bar {
  height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lesson-show-status {
  padding: 40px 30px 20px;
}

.lesson-show-status-header {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}

#policies {
  color: #337ab7;
  font-weight: 500;
  cursor: pointer;
}

#line-separator {
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 30px;
}

#break-notice {
  margin-right: 50px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  margin-left: 12px;
}

.record-item-time {
  font-size: 11px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: -.1px;
  color: #8a8a8f;
}

#lesson-scheduled {
  padding: 0 0 36px;
}

.book-another-lesson {
  width: 100%;
  margin-top: 8px;
  color: #4d4d4d;
  background-color: white;
  border-color: #d9d9d9;
  outline: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .75px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  min-width: 80px;
  height: 40px;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 4px;
}

.book-another-lesson > div {
  height: 14px;
  display: flex;
  justify-content: center;
}