.lesson-index-item {
  display: flex;
}

.individual-lesson {
  padding: 16px 24px;
  box-shadow: 0 2px 12px #98a0a6;
  margin-bottom: 16px;
}

.individual-lesson > h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.3333;
  color: #8c8c8c;
  font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
}

#completed {
  width: 4px;
  background: #bfbfbf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
}

#upcoming {
  width:4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  background: linear-gradient(
    180deg,
    #8be0c2,
    #00bbbf
  );
}
// #waiting {
//   background: green;
// }