.lesson-show-container {
  justify-content: center;
}

.lesson-show-details {
  width: 70%;
}

.lesson-status {
  padding: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lesson-status > div> div > span {
  color: white;
}

.lesson-show-first-line {
  display: flex;
  justify-content: space-between;
}

.lesson-date {
  align-items: flex-start;
}

.lesson-details {
  display: flex;
}

.lesson-details > div {
  margin-right: 50px;
}

.teacher-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.teacher-label {
  font-size: 10px;
  color: #777;
}

.course-detail {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.25;
  color: #777;
}

.lesson-body-padding {
  width: auto!important;
  box-shadow: none!important;
  padding: 30px 40px 0;
}

// .lesson-communication {}

.lesson-other-details {
  width: 30%;
  margin-left: 20px;
}

.lesson-other-top-color-bar {
  height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lesson-show-status {
  padding: 40px 30px 20px;
}

.lesson-show-status-header {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}

#policies {
  color: #337ab7;
  font-weight: 500;
  cursor: pointer;
}