#languages-options {
  position: absolute;
  &.languages-options-list {
    display: grid;
    z-index: 500;
    height: 250px;
    width: 300px;
    background-color: white;
  }
}

.languages-options-dropdown {
  left: 50%;
  top: 50%;
}