#languages-options {
  position: absolute;
  &.languages-options-list {
    display: flex;
    flex-flow: column;
    z-index: 500;
    height: 25%;
    width: 300px;
    overflow: auto;
    background-color: white;
  }
}

#teachers-options {
  position: absolute;
  &.languages-options-list {
    display: flex;
    flex-flow: column;
    z-index: 500;
    height: 25%;
    width: 300px;
    overflow: auto;
    background-color: white;
  }
}

.languages-options-dropdown {
  left: 50%;
  top: 50%;
}

.filter-button {
  text-align: left;
  background: transparent;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #858585;
  margin-bottom: 8px;
  height: 38px;
}

.filter-button:hover {
  border: 2px solid black;
}

.dropdown-button {
  height: 38px;
  background: transparent;
  border: none;
  text-align: left;
  line-height: 22px;
  font-size: 14px;
}

.dropdown-button:hover {
  background-color: #fafafc;
}