#languages-options {
  position: absolute;
  &.languages-options-list {
    display: flex;
    flex-flow: column;
    z-index: 500;
    height: 250px;
    width: 300px;
    background-color: white;
  }
}

.languages-options-dropdown {
  left: 50%;
  top: 50%;
}

.dropdown-button {
  height: 38px;
  background: transparent;
  border: none;
  text-align: left;
}

.dropdown-button:hover {
  background-color: #fafafc;
}